@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1{
    color: red;
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
}
i{
    display: block;
    text-align: center;
    font-family: cursive;
}